body {
  background-color: #dff6ff;
  color: black;
}

//===========================LOGIN DESIGN============================//
.main-container {
  margin-top: 50px;
}

.steps-container {
  margin-top: 50px;
}

.weather-logo {
  width: 100%;
}

.swal-button--confirm {
  background: teal;
}

//===========================SIGN UP DESIGN============================//
.to-sign-up {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: linear-gradient(to right, rgba(197, 239, 247), rgb(255, 255, 255));
}

.sign-up-form {
  padding: 10px;
}

.search-bar-input {
  padding-top: 50px;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-style: ui-monospace;
}

hr {
  background: teal;
  color: teal;
  border-color: teal;
  height: "3px";
}

.ui.grid > * {
  padding-left: 3.5rem;
  margin-top: 1.5rem;
}

//============================================CURRENT WEATHER DESIGN=======================================//
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  height: 5vh;
  width: 100%;
  margin-bottom: 1vh;
}

.navbar > h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

.weather-app {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;
}

.current-weather {
  text-align: center;
}

.current-weather > h1 {
  font-size: 4rem;
  margin-bottom: 0rem;
}

.current-weather > h3 {
  font-size: 3rem;
  margin-top: 0rem;
}

.weekly-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 100vw;
  overflow-x: scroll;
}

.daily-weather-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;

  background-color: #f0ffff;
  border: 1px solid teal;
  border-radius: 5px;

  min-width: 10rem;
  width: 10rem;

  margin-top: 2rem;
  margin-right: 1rem;

  padding: 1rem;
}

.high-low-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 1rem;
}

//===========================MESSAGE DESIGN============================//
.chat-box {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  height: calc((100vh - 20rem) / 2);
  width: 100%;

  margin-top: 2rem;
  margin-bottom: 1vh;
}

.message-bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;

  background-color: #f0ffff;
  border: 1px solid teal;
  border-radius: 5px;

  word-break: normal;
  text-align: left;

  max-width: 70vw;

  padding: 0.2rem;
  padding-right: 1rem;
  margin-bottom: 0.2rem;
}

.message-bubble > .label {
  align-self: start;
  margin-right: 0.7rem;
}

// .ui.input {
//   width: 550px;
//   height: 40px;
// }
