body {
  background-color: #dff6ff;
  color: black;
}

//===========================LOGIN DESIGN============================//
.main-container {
  margin-top: 50px;
}

.steps-container {
  margin-top: 50px;
}

.weather-logo {
  width: 100%;
}

.swal-button--confirm {
  background: teal;
}

//===========================SIGN UP DESIGN============================//
.to-sign-up {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: linear-gradient(
    to right,
    rgba(197, 239, 247),
    rgb(255, 255, 255)
  );
}

.sign-up-form {
  padding: 10px;
}

.search-bar-input {
  padding-top: 50px;
}
.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//===========================MESSAGE DESIGN============================//
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  box-sizing: border-box;
  height: 5vh;
  width: 100vw;
  margin-bottom: 1vh;
}

h1 {
  font-style: ui-monospace;
}

hr {
  background: teal;
  color: teal;
  border-color: teal;
  height: "3px";
}

.ui.grid > * {
  padding-left: 3.5rem;
}

.chat-box {
  display: flex;
  flex-direction: column;
  overflow: scroll;

  height: calc((100vh - 10rem) / 2);
  width: 100vw;

  padding: 0.5rem;
  margin-bottom: 1vh;
  margin-top: auto;
}

.message-bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;

  word-break: normal;
  text-align: left;

  padding: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 0.2rem;
}

.ui.message{
    padding: 7px;
}


.message-bubble > .label {
  align-self: start;
  margin-right: 0.7rem;
}

.weather-app {
  display: flex;
  flex-direction: column;
}

.weekly-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//============================================CURRENT WEATHER DESIGN=======================================//
.current-weather {
  padding-top: 10px;
}
